## For networking
fastapi==0.111.0
uvicorn[standard]==0.29.0
sse_starlette==2.1.0
httpx_sse==0.4.0

## LangChain 
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-nvidia-ai-endpoints==0.3.19
langchain-text-splitters==0.3.11
requests==2.32.5

langchain_openai==0.3.8
langserve==0.3.1

pydantic==2.8.2
openai==1.65.2

## Milvus/Embeddings
faiss-cpu==1.8.0

## For Arxiv
arxiv==2.3.1
pymupdf

## Gradio
gradio==4.44.1

## ML/DL
keras==2.15.0
tensorflow-cpu==2.15.0
scikit-learn==1.4.2